        /* nav {
    background-color: blue;
} */
        
        body {
            margin: 0;
            font-family: 'Quicksand', sans-serif;
            background-color: black;
            color: white;
            s
        }
        
        #cake-icon {
            width: 90px;
        }
        
        h1 {
            font-size: 70px;
            font-family: 'Sacramento', cursive;
            color: white;
        }
        
        a {
            text-decoration: none;
            color: white;
        }
        
        a:hover {
            color: #E2E2E2
        }
        
        .white-text {
            color: white;
        }
        
        .center-text {
            text-align: center;
        }
        
        .brown-background {
            background-color: #6B2407;
        }
        
        .nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            padding-left: 15px;
            padding-right: 15px;
            color: white;
            /* margin: 10px; */
            /* border: 3px solid black */
        }
        
        #cake-img {
            width: 60%;
        }
        
        .body-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
        }
        
        .product-img {
            width: 98%;
        }
        
        .product-tile {
            display: flex;
            flex-direction: column;
            margin: 5px;
            margin-top: 15px;
            align-items: center;
            width: 30%;
        }
        
        #product-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .margins {
            margin: 15px;
        }
        
        footer {
            color: white;
            margin-left: 10%;
        }
        
        @media screen and (max-width: 1100px) {
            #cake-icon {
                width: 40px;
            }
            h1 {
                font-size: 45px;
            }
        }
        
        @media screen and (max-width: 900px) {
            .nav-bar {
                flex-direction: column-reverse;
                font-size: 14 px;
                margin-top: 10px;
            }
            #cake-img {
                width: 100%;
                align-items: center;
            }
            #cake-icon {
                width: 0;
            }
            .product-tile {
                width: 46%;
            }
        }
        
        @media screen and (max-width: 579px) {
            .nav-bar {
                flex-direction: column-reverse;
                font-size: 14 px;
                margin-top: 10px;
            }
            #cake-img {
                width: 100%;
                align-items: center;
            }
            #cake-icon {
                width: 0;
            }
            .product-tile {
                width: 95%;
            }
        }