  * {
    -webkit-transform: rotate3d(0, 0, 0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate3d(0, 0, 0); /* IE 9 */
          transform: rotate3d(0, 0, 0); /* IE 10, Fx 16+, Op 12.1+ */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/*QA*/
.qamode {
  overflow: visible !important;
  display: inline-block !important;
  opacity: 1 !important;
}

#banner.qamode {
  border:0;
  }
.qamode {
  border: 1px solid #333333;
  box-sizing: border-box;
}
.frame.qamode {
  overflow:hidden !important;
}
.frame .qamode {
  border:0;
}

.noDisplay {
  display: none !important;
}

/*Banner*/

#bg {
  background-color: #f2410a;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:0;
}

.line , .line-side {
  font-size: 23px;
  fill: #f2410a;
}

.frame5 .line {
  font-size: 26px;
  fill: #fff;
}
.line {
  font-size: 21px;
  fill: #fff;
}

.subhead {
  font-family: 'foxtel_text', arial;
  font-size: 20px;
  fill: #fff;
}

.title {
  font-family: 'foxtel_textbold', arial;
  font-size: 20px;
  fill: #fff;
}

.copy {
  fill: #fff;
}


.ctaGroup .copy {
  font-size: 16px; 
}

.ctatext {
  font-size: 15px;
  fill:#f2410a;
}

.discl {
  font-family: 'foxtel_text', arial;
  font-size: 9px;
  fill: #fff;
}

.frame5 .discl {
  fill: #000;
}

.caption {
  font-size: 9px;
}

.showtitle {
  font-size: 11px;
}

.rating {
  font-size: 9px;
}

.copyright {
  font-size: 9px;
}

.hat {
  font-size: 0.5em;
}

.mincost {
  font-size: 13px;
}

.upper {
  text-transform: uppercase;
}

.previewbg {
  fill: #f2410a;
  display: none;
}

/* .common.qamode {
  display: none !important;
  opacity: 0;
 } */




.frame1 .frame.qamode {
  display: none !important;
}


/* .frame2 .frame.qamode {
  display: none !important;
} */

/* .frame3 .frame.qamode {
  display: none !important;
}

.frame4 .frame.qamode {
  display: none !important;
} */